node_modules/
elm-stuff/
build/
/vendor/
/*.html
release.tar.gz
npm-debug.log

# Elm 0.18 compiler installed by tools/install-elm.sh
/tools/elm/

# IntelliJ
/.idea
*.iml

# Sublime
*.sublime-project
*.sublime-workspace

# Emacs
.\#*

# Macintosh
*.DS_Store

.floo
.flooignore
